<div class="container">
    <div class="notification-container">
        <div class="topbar">
            <div style="display: flex; flex-direction: row;">
                <h1>Notificatons</h1><span class="num">{{count}}</span>
            </div>
            <p (click)="checkRead()">Mark all as read</p>
        </div>
        <div class="message-box" [class.ng-unread]="result[0].isRead==false">

            <img src={{result[0].imgURL}} alt="" srcset="">
            <section>
                <div class="txtbox">
                    <p><span class="username">{{result[0].name}}</span> reacted to yout post <span class="otherdata">My
                            first
                            tournament today!</span></p>
                    <div class="dot" *ngIf="result[0].isRead==false"></div>
                </div>
                <p class="time">{{result[0].time}}</p>
            </section>
        </div>
        <div class="message-box" [class.ng-unread]="result[1].isRead==false">
            <img src={{result[1].imgURL}} alt="" srcset="">
            <section>
                <div class="txtbox">
                    <p> <span class="username">{{result[1].name}}</span> followed you</p>
                    <div class="dot" *ngIf="result[1].isRead==false"></div>
                </div>
                <p class="time">{{result[1].time}}</p>
            </section>
        </div>
        <div class="message-box" [class.ng-unread]="result[2].isRead==false">
            <img src={{result[2].imgURL}} alt="" srcset="">
            <section>
                <div class="txtbox">
                    <p> <span class="username"> {{result[2].name}}</span> has joined your group
                        <span class="otherdata">{{result[2].club}}</span>
                    </p>
                    <div class="dot" *ngIf="result[2].isRead==false"></div>
                </div>
                <p class="time">{{result[2].time}}</p>
            </section>
        </div>
        <div class="message-box" [class.ng-unread]="result[3].isRead==false">
            <img src={{result[3].imgURL}} alt="" srcset="">
            <section>
                <div class="txtbox">
                    <p> <span class="username">{{result[3].name}}</span> sent you a private message</p>
                    <div class="dot" *ngIf="result[3].isRead==false"></div>
                </div>
                <p class="time">{{result[3].time}}</p>
               
            </section>
        </div>
        <article class="message">
            {{result[3].message}}
        </article>
        <div class="message-box">
            <img src={{result[4].imgURL}} alt="" srcset="">
            <section style="display:flex; 
            flex-direction:row; 
            align-items: center;
            width: 100%;
            justify-content: space-between;"
            >
                <div class="txtbox">
                    <article style="display:flex; 
            flex-direction:column; 
            align-items: flex-start;
            width: 100%;">
                        <p><span class="username">{{result[4].name}}</span> commented on your picture
                        </p>
                        <p class="time">{{result[4].time}}</p>
                    </article>
                </div>
                <img src="assets/images/image-chess.webp" alt="">
            </section>

        </div>
        <div class="message-box">
            <img src={{result[5].imgURL}} alt="" srcset="">
            <section>
                <div class="txtbox">
                    <p><span class="username">{{result[5].name}}</span> reacted to your recent
                        post <span class="otherdata"> 5
                            end game strategies to increase your win rate</span>
                    </p>
                </div>
                <p class="time">{{result[5].time}}</p>
            </section>
        </div>
        <div class="message-box">
            <img src={{result[6].imgURL}} alt="" srcset="">
            <section>
                <div class="txtbox">
                    <p> <span class="username">{{result[6].name}}</span> left the group
                        <span class="otherdata">{{result[6].club}}</span>
                    </p>
                </div>
                <p class="time">{{result[6].time}}</p>
            </section>
        </div>
    </div>
</div>